{% extends 'base_auth.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Restablecer tu contrasena</h4>
                    </div>

                    <form action="{% url 'reset-user-password' uidb64 token %}" method="post">
                        
                        {% csrf_token %}
                        
                        {% include 'partials/_messages.html' %}
                        
                        <div class="form-group py-2">
                            <input type="password" name="password" placeholder="Contraseña" id="passwordField" class="form-control form-control-sm"/>
                            <small class="float-right py-2 showPasswordToggle">Mostrar contraseña</small>
                        </div>
                        <div class="form-group py-2">
                            <input type="password" name="password2" placeholder="Confirma la contrasena" id="passwordField" class="form-control form-control-sm"/>
                            <small class="float-right py-2 showPasswordToggle">Mostrar contraseña</small>
                        </div>
                        <input type="submit" value="Restablecer" class="btn btn-block btn-primary submit-btn"/>
                    </form>
                    <div class="container">
                        <span class="text-lead lead">Ya tienes una cuenta </span><a href="{% url 'login' %}">Inicia sesion</a><br>
                        <span class="text-lead lead">Si no tienes una cuenta </span><a href="{% url 'register' %}">Registrate</a>
                    </div>
                </div>

                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <script src="{% static 'js/register.js' %}"></script>
{% endblock content %}